<div class="header">
    <img class="company-logo" src="../../assets/images/edenred.png" >
    <div class="settings">
        <app-i18n-button></app-i18n-button>
        <span class="my-tickets">{{ 'data.myTickets' | translate }} </span>
    </div>
</div>
<div class="title">
    <div>$ 6000 元 福利及享券</div>
    <div>品牌可複選，選券效期無期限</div>
    <div class="left-value">
        <span>可選餘額:</span>
        <span> $6000 </span>
    </div>    
</div>
<div class="store-list">
    <ng-container *ngFor="let store of storeLogoList">
        <app-store-section [imgName]="store" (click)="getVoucher(store)"></app-store-section>
    </ng-container>
</div>
  