.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    .company-logo {
        width: 72px;
    }
    .settings {
        width: 24%;
        min-width: 60px;
        max-width: 240px;
        display: flex;
        justify-content: flex-end;
    }
}

.title {
    width: 100%;
    margin: 32px 0px;
    color: var(--main-color);
    font-size: 16px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    div {
        &:first-child {
            font-size: 24px;
        }
        margin: auto;
    }
    .left-value {
        margin-top: 16px;
    }
}


.my-tickets {
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 800;
    width: 80%;
    color: #ffffff;
    background-color: var(--secondary-color);
    min-width: 24px;
    max-width: 80px;
    margin: auto 0px;
    font-size: 1rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    &:hover {
        color: #dfd5d5;
        background-color: #df1e10;
    }
}


.store-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 32px;
}

@media (max-width: 576px) {
    .header .settings {
        width: 50%;
        min-width: 60px;
        max-width: 320px;
        display: flex;
        justify-content: flex-end;
    }
}